/* 全域 */

body {
  margin: 0;
  font-family: "Noto Sans TC", sans-serif;
  overflow: hidden;
  position: relative;
}
/* 雪花特效 */
.snowflake {
  position: absolute;
  top: -10px;
  color: white;
  font-size: 10px;
  opacity: 0;
  pointer-events: none;
}

.fade-out {
  opacity: 0;
  transition: opacity 0.6s ease;
}

.fade-in {
  opacity: 1;
  transition: opacity 0.6s ease;
}

body {
  opacity: 0;
  transition: opacity 0.6s ease;
}

body.fade-in {
  opacity: 1;
}

/* 首頁 */

#index {
  height: 100vh;

  .LOGO-layer {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    pointer-events: none;
    z-index: 1;
  }

  .LOGO-layer img {
    /* height: 80vh; */
    width: 40%;
    transition: opacity 0.5s ease;
    
  }

  .snowflake {
    position: absolute;
    top: -10px;
    color: white;
    font-size: 10px;
    opacity: 0;
    pointer-events: none;
  }
}

.bg {
  position: fixed;
  inset: 0;
  background: url(../assets/images/BannerBG.png) center/cover no-repeat;
  filter: brightness(1) blur(0px);
  transition: filter 0.3s ease;
  z-index: 0;
}